<!DOCTYPE html>
<html lang="en">
	<head>
		<title><?php echo $title;?></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<?php echo $assetsTop;?>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<a class="navbar-brand" herf="/"><?php echo $title;?></a>
				<div class="nav-collapse collapse bs-navbar-collapse">
					<?php echo $header;?>
					<p class="navbar-text pull-right">
						<a href="/hoobr/httpd/admin" class="navbar-link">Site Admin</a>
					</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="jumbotron"><?php echo $main;?></div>
		</div>
		<div class="container">
            <?php echo $footer;?>
        </div>
        <div class="text-center">
            <small>Page created in <?php echo round($end, 3);?> seconds</small>
        </div>
        <?php echo $assetsBottom;?>
	</body>
</html>